python-dotenv
utils
python-magic

llama-index
llama-index-readers-file
pymupdf

mistralai

llama_index
llama-index-core
llama-parse

llama-index-llms-mistralai
llama-index-llms-langchain
peft

llama-index-postprocessor-cohere-rerank
llama-index-llms-cohere
llama-index-embeddings-cohere

llama-index-embeddings-huggingface
llama-index-embeddings-mistralai

llama-index-embeddings-openai
llama-index-postprocessor-flag-embedding-reranker

llama-index-postprocessor-cohere-rerank
llama-index-embeddings-cohere
streamlit

google-api-python-client
requests

crewai